@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #011622;
  --logo-bg: #d3e2d3f1;
  --chat-header: #530213;
  --chat-recieve: #0fff;
  --chat-send: rgb(11, 10, 39);
  --form-color: linear-gradient(to bottom, rgb(32, 3, 28), rgb(3, 1, 24));
  --form-bg: #f0f45f00;
  --form-h1: #ffff;
  --form-input: #ffff;
  --form-button: #f552;
  --form-box-shd: rgba(0, 0, 0, 0.705) 0px 5px 15px;

  /* chat */

  /* --chat-primary: #202c33;
  --chat-secodary: #111b21;
  --chat-container: #0c1216;
  --chat-hg: #2a3942;
  --hover : #354854; */

  --chat-primary: #00283f;
  --chat-secodary: #00182c;
  /* --chat-secodary: linear-gradient(to top, rgb(1, 2, 14), transparent); */
  --chat-container: #041b24;
  --chat-hg: #07213f;
  --hover: #03283f;
}

body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background: var(--body-color);
}

@media screen and (max-width: 800px) {
  body {
    overflow: auto;
  }
}
