@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #0a1014;
  --logo-bg: #d3e2d3f1;
  --chat-page: #0c0518;
  --chat-header: #530213;
  --chat-recieve: #0fff;
  --chat-send: rgb(11, 10, 39);
  --form-color: linear-gradient(
    rgb(21, 98, 129),
    rgb(255, 255, 255),
    rgb(36, 5, 39)
  );
  --form-bg: linear-gradient(rgb(55, 90, 143), rgb(0, 0, 2));
}

body,
button,
input {
  font-family: "Josefin Sans", sans-serif;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  background: var(--body-color);
}
